*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}
  
  .sidepanel  {
	width: 0;
	position: fixed;
	z-index: 1;
	height: 100%;;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	
	
  }
  
  .sidepanel a {
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
  }

  .sidepanel h4 {
	padding-left: 20px;
	text-decoration: none;
	color: white;
	
  }

  .sidepanel p {
	padding-left: 20px;
	text-decoration: none;
	color: white;
	
  }

.sidepanel form {
	padding-left: 20px;
	
  }


.gestion{
	padding-left: 20px;
	
  }
  .sidepanel label {
	text-decoration: none;
	color: white;
	padding-left: 0px;
  }
  
  .sidepanel a:hover {
	color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
	position: absolute;
	/*top: 0;*/
	right: 25px;
	font-size: 36px;
  }
  
  .openbtn {
	z-index: 1;
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	float: right;
	border: none;
  }
  .divopnbtn{
	background-color: #111;
	height: 47px;
  }
  .titleproj{
	text-decoration: none;
	color: white;
	float: left;
	font-size: 30px;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 0;
	font-family: "Bitstream Vera Serif bold";
  }
  
  .openbtn:hover {
	background-color:#444;
  }

.grid-container{
	display: grid;
	grid-template-columns: 80vw 20vw;
	grid-template-rows: 100vh;
}
.sidebar{
	margin-left: 15px;
}

/* Feature Overlay */
.overlay-container{
	background-color: #555;
	width: 150px;
	color: #fff;
	text-align: center;
	border-radius: 1px;
	padding: 2px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -80px;
}

.overlay-container #feature-additional-info::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
